*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-size: 175%;
	text-transform: capitalize;
}
section{
	     float: left;
	     background-color: yellow;
	     border: 2px solid black;
	     box-sizing: border-box;
	     padding: 10px;
	     margin-bottom: 10px;
       }
 p{
 	background-color: yellow;
 	margin-right: 10px;
 	clear:right;
 	margin-right: 10px;
 }
div{
	float:right;
	clear: left;
	color:white;
	font-size: 175%;
	border: 1px solid black;
	
}
#div1{
	background-color: blue;
}
#div2{
	background-color: red;
}
#div3{
	background-color: green;
}
@media(min-width: 992px)
{
  section{
  	      width: 33.33%;
         }
}

@media(min-width: 767px) and (max-width: 991px)
{
	#section1,#section2{
		width: 50%;
	}

	#section3{
		width: 100%;
	}
}

@media(max-width: 767px)
{
	section{
		width:100%;
	}
}
